---
import { fetchSanityData, formatDate } from '@util'
import type { ReportType } from '@schemas'
import { Layout } from '@layouts'
import { Image } from 'astro:assets'
import { PortableText } from 'astro-portabletext'
import { PTBlock, PTList } from '@components'

const { slug } = Astro.params

// Fetch Sanity data
const query = `*[_type == "report" && slug.current == "${slug}"][0]
{ ..., "image_url": thumbnail.asset->url, "slug": slug.current }`

const data = await fetchSanityData(query)
const report = data.result as unknown as ReportType

// Redirect if invalid URL/report not found
if (!report) return Astro.redirect('/404')

const { day, month, year } = formatDate(report.date_published)
report.date_published = `${month} ${day}, ${year}`
---

<Layout title={report.title}>
  <main>
    <h1 class='title'>{report.title}</h1>
    <Image
      class='thumbnail'
      width={300}
      height={300}
      src={report.image_url}
      alt={report.alt_text}
    />
    <div class='metadata'>
      <p>{report.read_time} min read</p>
      <p>{report.date_published}</p>
    </div>
    <div class='content'>
      <PortableText value={report.content} components={{ block: PTBlock, list: PTList }} />
    </div>
  </main>
</Layout>
<style lang='scss'>
  main {
    margin: 0 5px;
  }
  .title {
    color: var(--text-main);
    max-width: 40rem;
    margin: 0 auto;
    font-weight: 400;
    font-size: clamp(1.75rem, 20%, 3rem);
    margin: 3rem 0;
    line-height: 1.3em;
    font-weight: 600;
  }

  .thumbnail {
    margin: 0 auto;
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
  }

  .metadata {
    font-family: var(--font-mono);
    color: var(--text-gray-light);
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
  }
</style>
