---
import { Layout, PageTableLayout } from '@layouts'
import { Icon } from '@components'
import { FiGithub, FiExternalLink } from 'react-icons/fi'

// Sanity functions and types
import type { SanityResult } from '@types'
import type { ProjectType } from '@schemas'
import { fetchSanityData, isNonEmpty } from '@util'

// Fetch Sanity data
const query = `*[_type == "project"]`
const data = await fetchSanityData(query)
const projects: SanityResult<ProjectType> = data.result

const headerText =
  "Some of the cool things I've been working on, from niche ideas to large applications."
---

<Layout title='Red Williams - Projects' meta_content={headerText}>
  <PageTableLayout title='Projects' headerText={headerText}>
    <thead>
      <tr class='head-row'>
        <th class='head-name'>Name</th>
        <th class='head-description'>Description</th>
        <th class='head-links'>Links</th>
      </tr>
    </thead>
    <tbody>
      {
        projects.map((project) => (
          <tr class='body-row'>
            <td class='title'>{project.title}</td>
            <td class='desc'>{project.description}</td>
            <td class='links'>
              {isNonEmpty(project.links.project_url) && (
                <Icon href={project.links.project_url} iconLabel='External link icon'>
                  <FiExternalLink className='icon' style={{ scale: '1.2' }} />
                </Icon>
              )}
              <Icon href={project.links.github} iconLabel='Github icon'>
                <FiGithub className='icon' style={{ scale: '1.2' }} />
              </Icon>
            </td>
          </tr>
        ))
      }
    </tbody>
  </PageTableLayout>
</Layout>
<!-- MARK: Styles -->
<style lang='scss'>
  @use 'src/main' as *;

  $cell-padding: 10px;

  tr.head-row {
    .head-name {
      width: auto;
      text-align: left;
    }
    .head-description {
      display: none;
    }

    .head-links {
      text-align: right;
      width: 70px;
    }

    & > * {
      padding: $cell-padding;
      letter-spacing: 0.05em;
      font-weight: 500;
    }

    color: var(--text-gray-dark);
    border-bottom: 1px solid var(--text-gray-dark);
  }

  @media (min-width: 60em) {
    tr.head-row {
      .head-name {
        width: 25%;
      }
      .head-description {
        display: table-cell;
        width: 55%;
      }

      .head-links {
        width: 7%;
      }

      text-align: left;
    }
  }

  .title {
    color: var(--text-main);
  }

  .desc {
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
    color: var(--text-gray-light);
    display: none;
  }

  .links {
    color: var(--text-gray-light);
    font-family: var(--font-mono);
    text-align: left;
    text-align: right;
    display: flex;
    justify-content: right;
    column-gap: 0.2em;
  }

  @media (min-width: 60em) {
    .desc {
      display: table-cell;
    }
  }

  .body-row {
    &:not(:last-child) {
      border-bottom: 1px solid #3f3f3f;
    }

    & > * {
      padding: $cell-padding;
    }
  }
</style>
