---
import type { TReport } from '@schemas/report'
import { Image } from 'astro:assets'

interface Props {
  report: TReport
}

const { report } = Astro.props
---

<li>
  <Image
    src={report.image_url}
    alt={`Thumbnail image describing the ${report.title} project `}
    width={500}
    height={500}
    class='thumbnail'
  />
  <h4>{report.title}</h4>
  <p>{report.description}</p>
  <div>
    <span>{report.read_time} minute read</span>
    <span>{report.date_published}</span>
  </div>
</li>
