---
// Icon component
import { Icon, Logo } from '@components'

// Icons
import { FiGithub, FiInstagram, FiLinkedin } from 'react-icons/fi'
import { LiaSpotify } from 'react-icons/lia'
import { FaXTwitter, FaThreads } from 'react-icons/fa6'

// Types
import type { IconProps } from '@types'

const socials: IconProps[] = [
  {
    icon: FiGithub,
    href: 'https://github.com/Red-CS/'
  },
  {
    icon: LiaSpotify,
    href: 'https://open.spotify.com/user/jpw918?si=9641a1c3c57b4e04',
    style: {
      transform: 'scale(1.4)' // Spotify logo is weird for whatever reason
    }
  },
  {
    icon: FiInstagram,
    href: 'https://www.instagram.com/red.williams18/'
  },
  {
    icon: FiLinkedin,
    href: 'https://www.linkedin.com/in/redwilliams18/'
  },
  {
    icon: FaXTwitter,
    href: 'https://twitter.com/redpw_'
  },
  {
    icon: FaThreads,
    href: 'https://www.threads.net/@red.williams18'
  }
]

const email = 'redpwilliams@gmail.com'

const navHeaders: { name: string; href: string }[] = [
  { name: 'Home', href: '/' },
  { name: 'Projects', href: '/projects' },
  { name: 'Reports', href: '/reports' },
  { name: 'Resume', href: '/resume' }
]

const isSubpath = (currentUrl: string, basePath: string): boolean => {
  if (currentUrl === basePath) return true
  if (basePath === '/') return false
  return currentUrl.startsWith(basePath)
}

// TODO - Add description so each page can decide its meta content
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>{title}</title>
    <meta
      name='description'
      content='Red Williams, Computer Engineering & Computer Science student based in Blacksburg, Virginia'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='apple-touch-icon' sizes='180x180' href='../../img/favicon/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='../../img/favicon/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='../../img/favicon/favicon-16x16.png' />
    <link rel='manifest' href='../../img/favicon/site.webmanifest' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'
    />
  </head>
  <body>
    <div class='main-container'>
      <aside class='socials'>
        <ul>
          {
            socials.map((social) => (
              <li style='scale: 1.3; line-height: 0'>
                <Icon href={social.href} translateOnHover>
                  <social.icon className='icon' style={social.style} />
                </Icon>
              </li>
            ))
          }
        </ul>
      </aside>
      <nav class='main-nav'>
        <!-- TODO - https://rodneylab.com/astro-js-non-html-routes/ -->
        <ul>
          {
            navHeaders.map((header) => (
              <li>
                <a
                  href={header.href}
                  style={{
                    color: isSubpath(Astro.url.pathname, header.href) ? 'var(--text-main)' : ''
                  }}>
                  {header.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <slot />
      <aside class='email'><div><a>{email}</a></div></aside>
      <script>
        function hasScrollbar() {
          return document.documentElement.scrollHeight > window.innerHeight
        }

        // Function to add or remove 'has-scrollbar' class based on scrollbar presence
        function updateStyles() {
          const email_aside = document.getElementsByClassName('email').item(0) as HTMLElement
          email_aside.style.setProperty('--necessary-absolute', hasScrollbar() ? null : 'absolute')
        }

        // Call updateStyles on page load and window resize to update styles dynamically
        window.addEventListener('load', updateStyles)
        window.addEventListener('resize', updateStyles)
      </script>
    </div>
    <footer>
      <Logo />
      <p>Stay Connected</p>
      <hr />
      <div class='footer-api-wrapper'>
        <span class='api-span datetime'></span>
        <script>
          function updateDateTime() {
            // Get the current date and time
            let currentDate = new Date()

            // Format the date and time according to your specifications
            let formattedDateTime = currentDate.toLocaleDateString('en-US', {
              month: 'short',
              day: 'numeric',
              hour: 'numeric',
              minute: 'numeric',
              second: 'numeric',
              hour12: true,
              timeZone: 'America/New_York'
            })

            // Update the content of the span element
            const spanElement = document.querySelector('.api-span.datetime') as HTMLSpanElement
            spanElement.innerText = 'Blacksburg, VA • ' + formattedDateTime
          }

          // Call the updateDateTime function initially to set the initial content
          updateDateTime()

          // Update the date and time every second
          setInterval(updateDateTime, 1000)
        </script>
        <span class='api-span spotify-api'>
          <span class='spotify-bars'></span>
          <span class='spotify-bars'></span>
          <span class='spotify-bars'></span>
          <p class='spotify-listening-to'>
            <a
              id='spotify-vibing'
              href='https://open.spotify.com/user/jpw918?si=9641a1c3c57b4e04'
              target='_blank'>Offline</a
            ><a id='spotify-track'></a><span id='spotify-dot-separator'></span><span
              id='spotify-artists'></span>
          </p>
        </span>
        <script>
          import type { SpotifyDataFulfilled } from '@types'

          // NOTE - Boolean flag to turn on/off spotify request ping
          const SPOTIFY_REQUEST_FLAG: boolean = import.meta.env.PUBLIC_ENABLE_SPOTIFY

          // Get UI elements
          const spotifyBars = Array.from(
            // eslint-disable-next-line no-undef
            document.getElementsByClassName('spotify-bars') as HTMLCollectionOf<HTMLSpanElement>
          )
          const spotifyVibing = document.getElementById('spotify-vibing') as HTMLAnchorElement
          const spotifyTrack = document.getElementById('spotify-track') as HTMLAnchorElement
          const spotifyDot = document.getElementById('spotify-dot-separator') as HTMLSpanElement
          const spotifyArtists = document.getElementById('spotify-artists') as HTMLSpanElement

          // Create reusable data object
          let data: SpotifyDataFulfilled = null

          // Loop to request data from Spotify and populate the UI with
          async function updateSpotifyInfo() {
            console.log('Running')
            try {
              const response = await fetch('/api/spotify')

              // See /api/spotify for defined codes
              if (!response.ok && response.status !== 429)
                throw new Error('Bad response of code ' + response.status)
              // TODO - Pass error code to error object? Handle rate limit, don't show offline

              if (response.status !== 429) data = await response.json()

              if (data === null) throw new Error('Empty data object')

              // Disable offline gradient
              spotifyBars.forEach((bar) => {
                bar.style.setProperty('--offline-bars', '')
              })

              // Set spotify vibing text
              spotifyVibing.innerHTML = 'Currently vibing to —&nbsp;'
              spotifyVibing.style.setProperty('--vibing-style-default', null)

              // Set track text (name and href)
              spotifyTrack.setAttribute('href', data.track.href)
              spotifyTrack.innerText = data.track.name
              spotifyTrack.style.setProperty('--offline-display', null)

              // Show spotify dot seperator
              spotifyDot.innerHTML = '&nbsp;•&nbsp'
              spotifyDot.style.setProperty('--offline-display', null)

              // Set artists texts
              spotifyArtists.innerHTML = '' // Removes nested artist anchor tags
              spotifyArtists.style.setProperty('--offline-display', null)
              data.artists.forEach((artist, i) => {
                spotifyArtists.insertAdjacentHTML(
                  'beforeend', // Inserts the artists' names in the order the appear on spotify
                  `<a href='${artist.href}' target='_blank' class='spotify-artist'>${
                    artist.name
                  }</a>${i !== data!.artists.length - 1 ? '<pre>, </pre>' : ''}`
                )
              })
            } catch (e) {
              console.warn((e as Error).message)

              // Enable offline gradient
              spotifyBars.forEach((bar) => {
                bar.style.setProperty('--offline-bars', 'var(--text-gray-dark)')
              })

              // Remove inactive elements
              spotifyVibing.innerText = 'Offline'
              spotifyVibing.style.setProperty('--vibing-style-default', 'normal')
              spotifyTrack.style.setProperty('--offline-display', 'none')
              spotifyDot.style.setProperty('--offline-display', 'none')
              spotifyArtists.style.setProperty('--offline-display', 'none')
              return
            }
          }

          // Call the function when the DOM content is loaded
          if (spotifyTrack && spotifyArtists) {
            updateSpotifyInfo() // Need to call it at least once to initialize styles/settings
            console.log(SPOTIFY_REQUEST_FLAG)
            if (!SPOTIFY_REQUEST_FLAG) setInterval(updateSpotifyInfo, 1000 * 30) // 30 seconds
          }
        </script>
      </div>
    </footer>
  </body>
</html>
<style is:global lang='scss'>
  @use 'src/main' as *;

  :root {
    --text-main: #f4f3f2;
    --text-gray-light: #d3d3d3;
    --text-gray-dark: #a3a3a3;

    --bg-color: #1e1e1e;
    --bg-color-secondary: #171717;

    --gradient-start: rgba(255, 133, 64, 1);
    --gradient-end: rgba(255, 64, 64, 1);
    --gradient: linear-gradient(45deg, var(--gradient-start), var(--gradient-end));

    --aside-width: 6vw;

    --font-sans: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Roboto Mono', 'Courier New', Courier, monospace;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    width: auto;
    height: auto;
    scroll-behavior: smooth;
    background-color: var(--bg-color-secondary);
  }

  body {
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    color: var(--text-main);
    font-size: 1rem;
  }

  h3 {
    color: var(--text-main);
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    color: var(--text-gray-light);
    font-size: 1rem;
    line-height: 1.8;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .main-container {
    background-color: var(--bg-color);
    flex-grow: 1;
    position: relative;
  }

  aside,
  aside > * {
    display: none;
    color: var(--text-gray-light);
    font-family: var(--font-mono);
  }

  main {
    padding: 0 1em;
  }

  a,
  a:visited {
    color: var(--text-main);
  }

  .main-nav {
    position: fixed;
    width: 90%;
    max-width: 28rem;
    height: 3rem;
    justify-self: center;
    margin: 1rem auto;
    border: 2px solid var(--text-gray-dark);
    background-color: var(--bg-color-secondary);
    border-radius: 8px;
    background-clip: border-box;
    transition: border-color 0.2s ease;
    z-index: 10;
    left: 0;
    right: 0;

    &:hover {
      border-color: var(--text-gray-light);
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;

      a {
        color: var(--text-gray-dark);
        padding: 0.8em;
        transition: color 0.2s ease;
        font-weight: 400;

        &:hover {
          color: var(--text-main);
        }
      }
    }
  }

  @media (min-width: 30em) {
    main {
      padding: 0 2em;
    }
  }

  @media (min-width: $breakpoint-main) {
    body {
      min-height: 100vh;
    }
    main {
      padding: 0 75px;
      min-height: 30vh; // TODO - Use with Footer height variable (30vh as of right now)
      @include page-containing-block;
    }

    aside {
      width: var(--aside-width);
      display: block;
      overflow-y: auto;
    }

    %aside-positioned-element {
      display: inline-block;
      position: relative;
    }

    %aside-positioned-element-before {
      content: '';
      display: inline-block;
      width: 0.2vh;
      height: 15vh;
      background-color: var(--text-gray-light);
      vertical-align: middle;
      margin-bottom: 2vh;
    }

    .email {
      left: 0;
      right: auto;
      // Handles when the screen is resized/has no scroll,
      // and this container is not flush with the footer
      position: var(--necessary-absolute, sticky);
      bottom: 0;
      font-size: 1.6vh;
      // top: 100%;
      margin-top: -5rem;

      & > div {
        display: block;
      }

      & > div > a {
        width: 100%;
        line-height: var(--aside-width);
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        @extend %aside-positioned-element;
        display: block;
      }

      & > div > a::before {
        @extend %aside-positioned-element-before;
      }
    }

    .socials {
      position: fixed;
      top: 0;
      float: right;
      right: 0;
      display: initial;

      & > ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-wrap: nowrap;

        & > li {
          margin: 1vh 0;
        }
      }

      & > ul::before {
        @extend %aside-positioned-element-before;
      }
    }

    .socials a,
    .socials a:visited {
      color: var(--text-gray-light);
    }
  }

  footer {
    width: 100%;
    background-color: var(--bg-color-secondary);

    & > * {
      margin: 0 auto;
      display: block;
      text-align: center;
      text-transform: uppercase;
    }

    & > p {
      font-size: 1.2rem;
      letter-spacing: 4px;
      margin-bottom: 2rem;
      color: var(--text-main);
    }

    hr {
      width: 100%;
    }
  }

  .logo {
    margin: 2rem auto 1rem auto;
    scale: 0.8;
  }

  footer:hover .logo rect,
  footer:focus .logo rect {
    height: 77px;
    &.lower-level {
      height: 90px;
    }
  }

  .footer-api-wrapper {
    display: flex;
    // NOTE - This affects the amount of "movement" the flex items have after each tick
    // Tick being when the datetime changes every second, or when a spotify song changes
    justify-content: space-between;
    margin: 1rem auto;
    width: 80%;
  }

  @media (max-width: 30em) {
    .footer-api-wrapper {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .spotify-api {
    display: flex;
    align-items: end;
    font-family: var(--font-sans);
    text-transform: none;
    min-height: 1.75rem; // Has to at least be higher than height of the bars

    @keyframes spotify-playing {
      0% {
        height: 3px;
      }
      50% {
        height: 13px;
      }
      to {
        height: 3px;
      }
    }

    & > span {
      width: 3px;
      height: 13px;
      border-radius: 4px;
      background: var(--offline-bars, var(--gradient));
      margin: 0 3px 6px 3px;
      transform-origin: bottom;
      display: inline-block;

      &:nth-child(1) {
        animation: spotify-playing 0.65s infinite linear;
      }

      &:nth-child(2) {
        animation: spotify-playing 0.9s infinite linear;
      }

      &:nth-child(3) {
        animation: spotify-playing 0.75s infinite linear;
      }
    }

    & > p {
      margin-left: 0.5rem;
    }
  }

  .spotify-listening-to {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    & > * {
      display: inline;
    }
  }

  #spotify-vibing {
    color: var(--text-light-dark);
    font-style: var(--vibing-style-default, italic);
  }

  #spotify-track {
    font-weight: 400;
    display: var(--offline-display, inline);
  }

  .spotify-artist {
    font-weight: 100;
    display: inline-block;
  }

  #spotify-artists,
  #spotify-dot-separator {
    display: none;
  }

  #spotify-track,
  .spotify-artist {
    position: relative;
    z-index: 2;
    &::after {
    }
  }

  #spotify-track:hover,
  #spotify-track:focus,
  .spotify-artist:hover,
  .spotify-artist:focus {
    &::after {
      // TODO - Add transition
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background: var(--gradient);
      inset: auto 0 2px 0;
      z-index: -1;
    }
  }

  @media (min-width: 30em) {
    // Midsize, display "Currently vibing to" and track name
    #spotify-vibing {
      display: var(--offline-display, inline);
    }

    #spotify-artists pre {
      display: var(--offline-display, inline); // This is for the comma separated list
      // Underline only happens under the text, not the comma
    }
  }

  @media (min-width: 60em) {
    // Desktop, display everything
    #spotify-artists {
      display: var(--offline-display, inline-block);
    }

    #spotify-dot-separator {
      display: var(--offline-display, inline);
    }
  }

  .datetime {
    font-size: 0.8rem;
    text-transform: capitalize;
    color: var(--text-gray-light);
    text-align: left;
    align-self: center;
  }
</style>
